:root {
  --font-sans: "", sans-serif;

  /* ~~~ COLORS ~~ */
  /* figma colors */
  --color-primary-brand: #4d5ae5;
  --color-pressed: #404bbf;
  --color-dark: #2e2f42;
  --color-success: #31d0aa;
  --color-text: #434455;
  --color-subtle-text: #8e8f99;
  --color-accent: #e7e9fc;
  --color-light: #f4f4fd;
  --color-modal-overlay: #2e2f42;
  --color-hero-background: #2e2f42;
  --color-white-background: #ffffff;
  --color-modal-background: #fcfcfc;

  /* internal colors */
  --color-background: #ffffff;
  --color-foreground: #434455;
}

/** FONTS */
.roboto-sans {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.raleway-sans {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* #region Root */
body {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #ffffff;
  color: var(--color-foreground);
}

/* #endregion */
/* #region Typography */

h1 {
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
}

.text-sm {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.text-md {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

/* #endregion */
/* #region Base */
button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
}
button:hover {
  background-color: #404bbf;
}

a {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:active {
  color: #404bbf;
}
a.nav-link:focus {
  color: #404bbf;
}

/* #endregion Base */

/* ~~ UTILS ~~*/
.text-md {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

address {
  font-style: normal;
}

a.email {
  color: #434455;
}
a.email:hover,
a.email:focus {
  color: #404bbf;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

.logo span {
  color: #2e2f42;
  line-height: 1.17;
}

.logo--light span {
  color: #f4f4fd;
}

.hero {
  background-color: #2e2f42;
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.02em;
}

.cta {
  background: #4d5ae5;
  color: #ffffff;
}

.cta:hover {
  background: #404bbf;
}

.service-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.services .description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.our-team {
  background-color: #f4f4fd;
}

.our-team-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.our-team li {
  background-color: #ffffff;
}

.our-team .our-team-mate {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.our-team .occupation {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.our-portfolio-h2 {
}
.our-portfolio-h3 {
}
.our-portfolio-p {
}

footer,
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}

footer .copyright {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
